<main>
    <section class="form-section">
        <img src="/Logo.svg" alt="MoveIt" />
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{ primaryButtonText }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{ secondaryButtonText }}</button>
        </div>
    </section>

    <section class="main-section">
        <h1>You should, MoveIt!</h1>
        <img src="/Main-illustration.svg" alt="Main-illustration" />
    </section>
</main>